<article>
  <a href="/dashboard" class="uk-link uk-link-muted" > <span uk-icon="icon: chevron-double-left; ratio: 2"></span> Back to Dashboard</a>
<hr>
  <form class="edit-post-form uk-form-width-large uk-margin-large-left">
    <fieldset class="uk-fieldset">
      <legend class="uk-legend uk-text-center">Edit Blog</legend>

      <div class="uk-margin">
        <label for="post-title">Blog Title:</label>
        <input class="uk-input" name="post-title" type="text" placeholder="Title" value="{{post.title}}">
      </div>

      <div class="uk-margin">
        <label for="post-content">Blog Content:</label>
        <textarea class="uk-textarea" name="post-content" rows="5" type="text" value="{{post.post_content}}"
          placeholder="Textarea">{{post.post_content}}</textarea>
      </div>

      <input type="submit" value="Submit" id="submit" class="uk-button uk-button-default">  Created on <span class="uk-text-italic">{{format_date post.created_at}}</span>
        |
        <a class="uk-link-text uk-link-muted" href="/post/{{post.id}}">{{post.comments.length}} {{format_plural
          "comment" post.comments.length}}</a>
      </div>
      <br></br>
      <button type="button" value="button" id="button" class="uk-button uk-button-danger delete-post-button">Delete</button>

    </fieldset>
  </form>

  {{> comments post.comments}}

  <script src="/js/edit-post.js"></script>
  <script src="/js/delete-post.js"></script>
  <script src="/js/comment.js"></script>