<article>
  <a href="/dashboard" class="uk-link-text uk-link-muted"> &larr; Back to Dashboard</a>
  <form class="edit-post-form" action="">
    <fieldset class="uk-fieldset">
      <legend class="uk-legend">Edit Blog</legend>>

      <div class="uk-margin">
        <label for="post-title">Blog Title:</label>
        <input class="uk-input" name="post-title" type="text" placeholder="Title" value="{{post.title}}">
      </div>

      <div class="uk-margin">
        <label for="post-content">Blog Content:</label>
        <textarea class="uk-textarea" name="post-content" rows="5" type="text" value="{{post.post_content}}"
          placeholder="Textarea">Blog Content</textarea>
      </div>

      <input type="submit" value="Submit" id="submit" class="uk-button uk-button-default">
      <div>
        Created By: {{format_date post.createdAt}}
        |
        <a class="uk-link-text uk-link-muted" href="/post/{{post.id}}">{{post.comments.length}} {{format_plural
          "comment" post.comments.length}}</a>
      </div>
      <button type="submit" class="uk-button uk-button-default">Save</button>
      <button type="button" class="uk-button uk-button-danger delete-post-button">Delete</button>

    </fieldset>
  </form>

  {{> comments post.comments}}

  <script src="/js/edit-post.js"></script>
  <script src="/js/delete-post.js"></script>
  <script src="/js/comment.js"></script>